<div class="welcome-body">
	<div class="section">
		<div class="section-header">
			<h1>Informacion del usuario</h1>
		</div>
		<div class="section-content">
			<div class="row">
				<div class="col-md-6"><h4>Nombre:</h4></div>
				<div class="col-md-6"><h4><%= @user.first_name %></h4></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h4>Apellido:</h4></div>
				<div class="col-md-6"><h4><%= @user.last_name %></h4></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h4>Rol:</h4></div>
				<div class="col-md-6"><h4><%= @user.role.name if @user.role %></h4></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h4>Usuario:</h4></div>
				<div class="col-md-6"><h4><%= @user.username %></h4></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h4>Correo:</h4></div>
				<div class="col-md-6"><h4><%= @user.email %></h4></div>
			</div>
			<br>
			<div class="row row-centered">
				<%= link_to 'Editar', edit_user_path(@user), :class => "btn btn-default col-xs-12 col-md-3 col-centered" %>
				<%= link_to 'Regresar', users_path, :class => "btn btn-default col-xs-12 col-md-3 col-centered" %>
			</div>
		</div>
	</div>	
</div>

