<div class="welcome-body">
	<% @reports.each_with_index do |report, i| %>
	    <div class="section">
	    	<div class="section-header">
	    		<h3><%= report.id %> - <%= report.address %></h3>
	    	</div>
	    	<div class="section-content">
	    		<div class="row">
		    		<div class="col-md-12 date_report">
		    			<% date = report.created_at %>
		    			<% days = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'] %>
		    			<% months = ['','Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'] %>
		    			<a href="" title="<%= days[date.wday] %>, <%= date.day %> de <%= months[date.month] %> de <%= date.year %> a las <%= date.hour %>:<%= date.min %>">
		    				Hace <%= time_ago_in_words(date) %>
		    			</a>
		    		</div>
	    		</div>
	    		<div class="row">
		    		<div class="col-md-12 description_report">
		    			Descripcion: <br>
		    			<%= report.description %>
		    		</div>
	    		</div>
	    		<div class="row row-centered">
		    		<div class="col-md-4 col-centered">
		    			<%= image_tag report.avatar.url, :class => "image_report" %>
		    		</div>
		    		<div class="col-md-4 col-centered">
			    		<div id="map<%= i %>">
			    			<span id="lat<%= i %>" class="hidden"><%= report.pos_x %></span>
			    			<span id="lng<%= i %>" class="hidden"><%= report.pos_y %></span>
			    		</div>
		    		</div>
	    		</div>
	    	</div>
		</div>
		<br>
	<% end %>    
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHzb6cgjC95Y5VyEkZkSfzDbyK9elslNs&callback=initMaps"
async defer></script>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "google_maps" %>
<% end %>