<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-sm-12 col-md-6">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field col-sm-12 col-md-6">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <br class="clear">
  <div class="actions row row-centered">
    <%= f.submit :class => "col-xs-12 col-md-3 col-centered" %>
  </div>
<% end %>
